main 
{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

body
{
  font-family: 'Source Sans Pro', sans-serif;
  color:#4A4A4A;
  overflow-x: hidden;
}

h2
{
  text-transform: uppercase;
  font-size: 2rem;
  color: #000000;
  font-weight: 600;
}

h3
{
  text-transform: uppercase;
  font-weight:400;
  margin:0;
}

p
{
  color:#404040;
}

.big-p
{
  font-size: 1.5rem;
}

#img-profil
{
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background: url(img/Victor_Deweerdt_profil.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid #263238;
}

#left-side
{
  background-color: #90A4AE;
  padding:0 15px;
}

#right-side li
{
  margin:0 0 5px 0;
}

i
{
  color:#90A4AE;
  padding-right:10px;
}

li
{
  list-style: none;
}

ul
{
  padding-left:0;
}

.py-10
{
  padding-bottom: 5rem !important;
  padding-top: 5rem !important;
}

.pt-10
{
  padding-top: 5rem !important;
}

.title-v
{
  border-bottom: 2px solid #90A4AE;
  margin-bottom: 45px;
  padding-bottom:7.5px;
  padding-top:60px;
}

.dark-title-v
{
  color: #ffffff;
  background-color: #263238;
  text-align: center;
  padding: 0.25rem 0;
  margin: 45px 0;
}
  
.nopadding
{
  padding-left:0 !important;
  padding-right: 0 !important;
}

.big-title
{
  color: #90A4AE;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2;
  padding-left:0px;
}

.big-title2
{
  font-size:4rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2;
  padding-left:15px;
}

.special-border
{
  border-bottom: 2px solid #90A4AE;
  padding-bottom: 5px;
}

#right-side
{
  padding-left: 60px;
}

.yellow-col
{
  padding:0 45px;
}

#a-propos
{
  padding-bottom: 300px;
}

#recommandations li:first-child
{
  padding-bottom:15px;
}

#recommandations ul:first-child
{
  padding-bottom:15px;
}

.ico
{
  padding-right: 30px;
  color: #90A4AE;
}

.icon-b
{
  font-size:4rem;
  color:#404040;
}

.fa, .fas
{
  padding-top: 6px;
} 

@media (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }
}

@media (max-width:992px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
  }
  #contact ul {
    width:50%;
  }
  #contact .yellow-col {
    display: flex;
    flex-wrap: wrap;
  }
  #right-side {
    padding-left: 45px;
    padding-right: 45px;
  }
  #a-propos
  {
    padding-bottom: 0px;
  }
  #loisirs {
    padding-bottom:45px;
  }
}
@media (max-width:576px) {
  #contact ul {
    width:100%;
  }
  h3 {
    font-size:1.3rem;
  }
  h2 {
    font-size:1.4rem;
  }
  #right-side {
    padding-left: 20px;
    padding-right: 20px;
  }
  .yellow-col {
      padding:0 20px;
  }
  .big-title2 {
    padding-left:0px;
    font-size: 3rem;
  }
  .big-title {
    font-size: 3rem;
  }
  .ico {
    padding-right:15px;
  }
}